<launch> 
	<include file="$(find intel-aero-acfr)/launch/fcu.launch" />
	<include file="$(find intel-aero-acfr)/launch/realsense.launch" />
	<node pkg="tf" type="static_transform_publisher" name="camera_fcu" args="0.1 0 0 0 0 0 1 fcu camera_link 100" />
	<node pkg="intel-aero-acfr" type="ohfuck" />
</launch>
